{% extends "layout_fluid.html.twig" %}

{% block title %}Highlander says...
{% endblock %}

{% block content %}
	<h1>Highlander says...</h1>

	{% for message in app.flashes('info') %}
		<div class="flash-info">
			Info:
			{{ message }}
		</div>
	{% endfor %}

	{% for forcast in forcasts %}
		<div class="forcast">
			<p>{{forcast}}</p>
		</div>
	{% endfor %}

	{% if(threshold) %}
		<div class="threshold">
			<p>Threshold:
				{{threshold}}</p>
		</div>
	{% endif %}

	{% block javascripts %}
		{{ parent() }}

		<script>
			console.log("{{ app_key | escape('js') }}");
		</script>
	{% endblock %}
{% endblock %}
